<p id="notice"><%= notice %></p>

<h1>Listing Finances</h1>

<table>
  <thead>
    <tr>
      <th>Interest</th>
      <th>Principal</th>
      <th>Payment</th>
      <th>Interest rate</th>
      <th>Sales tax</th>
      <th>Start date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @finances.each do |finance| %>
      <tr>
        <td><%= finance.interest %></td>
        <td><%= finance.principal %></td>
        <td><%= finance.payment %></td>
        <td><%= finance.interest_rate %></td>
        <td><%= finance.sales_tax %></td>
        <td><%= finance.start_date %></td>
        <td><%= link_to 'Show', finance %></td>
        <td><%= link_to 'Edit', edit_finance_path(finance) %></td>
        <td><%= link_to 'Destroy', finance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Finance', new_finance_path %>
