<p id="notice"><%= notice %></p>

<p>
  <strong>Interest:</strong>
  <%= @finance.interest %>
</p>

<p>
  <strong>Principal:</strong>
  <%= @finance.principal %>
</p>

<p>
  <strong>Payment:</strong>
  <%= @finance.payment %>
</p>

<p>
  <strong>Interest rate:</strong>
  <%= @finance.interest_rate %>
</p>

<p>
  <strong>Sales tax:</strong>
  <%= @finance.sales_tax %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @finance.start_date %>
</p>

<%= link_to 'Edit', edit_finance_path(@finance) %> |
<%= link_to 'Back', finances_path %>
