<%= form_for(@quote) do |f| %>
  <% if @quote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@quote.errors.count, "error") %> prohibited this quote from being saved:</h2>

      <ul>
      <% @quote.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :customer_id %><br>
    <%= f.collection_select :customer, Customer.all, :id, :customer_info %>
  </div>
  <div class="field">
    <%= f.label :employee_id %><br>
    <%= f.collection_select :employee, Employee.all, :id, :employee_info %>
  </div>
  <div class="field">
    <%= f.label :inventory_id %><br>
    <%= f.collection_select :inventory, Inventory.all, :id, :inventory_info %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.datetime_select :date %>
  </div>
  <div class="field">
    <%= f.label :quote_status %><br>
    <%= f.select :quote_status, [['Preliminary', 'Preliminary'],['Sold', 'Sold'], ['Lost','Lost']] %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
