<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <%= @quote.customer_id %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @quote.employee_id %>
</p>

<p>
  <strong>Inventory:</strong>
  <%= @quote.inventory_id %>
</p>

<p>
  <strong>Date:</strong>
  <%= @quote.date %>
</p>

<p>
  <strong>Quote status:</strong>
  <%= @quote.quote_status %>
</p>

<%= link_to 'Edit', edit_quote_path(@quote) %> |
<%= link_to 'Back', quotes_path %>
