<p id="notice"><%= notice %></p>

<div class="inventories">
  <h1>Listing Inventories</h1>

</div>


<% form_tag inventories_path, :method => 'get' do %>
    <p>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search", :name => nil %>
    </p>
<% end %>



<table>
  <thead>
    <tr>
      <th>Make</th>
      <th>Model</th>
      <th>Year</th>
      <th>Vin</th>
      <th>Color</th>
      <th>Wholesale price</th>
      <th>Retail price</th>
      <th>Quantity</th>
      <th>Inventory status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @inventories.each do |inventory| %>
      <tr>
        <td><%= inventory.make %></td>
        <td><%= inventory.model %></td>
        <td><%= inventory.year %></td>
        <td><%= inventory.vin %></td>
        <td><%= inventory.color %></td>
        <td><%= inventory.wholesale_price %></td>
        <td><%= inventory.retail_price %></td>
        <td><%= inventory.quantity %></td>
        <td><%= inventory.inventory_status %></td>
        <td><%= link_to 'Show', inventory %></td>
        <td><%= link_to 'Edit', edit_inventory_path(inventory) %></td>
        <td><%= link_to 'Destroy', inventory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Inventory', new_inventory_path %>
