<%= form_for(@employee) do |f| %>
  <% if @employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% @employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :employee_first_name %><br>
    <%= f.text_field :employee_first_name %>
  </div>
  <div class="field">
    <%= f.label :employee_last_name %><br>
    <%= f.text_field :employee_last_name %>
  </div>
  <div class="field">
    <%= f.label :employee_title %><br>
    <%= f.text_field :employee_title %>
  </div>
  <div class="field">
    <%= f.label :employee_status %><br>
    <%= f.select :employee_status, [['Active', 'Active'],['Inactive', 'Inactive']] %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
