<p id="notice"><%= notice %></p>

<p>
  <strong>Employee first name:</strong>
  <%= @employee.employee_first_name %>
</p>

<p>
  <strong>Employee last name:</strong>
  <%= @employee.employee_last_name %>
</p>

<p>
  <strong>Employee title:</strong>
  <%= @employee.employee_title %>
</p>

<p>
  <strong>Employee status:</strong>
  <%= @employee.employee_status %>
</p>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
