<p id="notice"><%= notice %></p>

<h1>Listing Customers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Middle Name</th>
      <th>Last Name</th>
      <th>Address</th>
      <th>City</th>
      <th>Zip Code</th>
      <th>State</th>
      <th>Phone #</th>
      <th>Email</th>
      <th>Customer Status</th>
      <th>Customer Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.customer_name %></td>
        <td><%= customer.customer_middle_name %></td>
        <td><%= customer.customer_last_name %></td>
        <td><%= customer.customer_address %></td>
        <td><%= customer.customer_city %></td>
        <td><%= customer.customer_zip_code %></td>
        <td><%= customer.state %></td>
        <td><%= customer.customer_phone %></td>
        <td><%= customer.customer_email %></td>
        <td><%= customer.customer_status %></td>
        <td><%= customer.customer_date %></td>
        <td><%= link_to 'Show', customer %></td>
        <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
        <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Customer', new_customer_path %>
