<p id="notice"><%= notice %></p>

<p>
  <strong>Customer name:</strong>
  <%= @customer.customer_name %>
</p>

<p>
  <strong>Customer middle name:</strong>
  <%= @customer.customer_middle_name %>
</p>

<p>
  <strong>Customer last name:</strong>
  <%= @customer.customer_last_name %>
</p>

<p>
  <strong>Customer address:</strong>
  <%= @customer.customer_address %>
</p>

<p>
  <strong>Customer city:</strong>
  <%= @customer.customer_city %>
</p>

<p>
  <strong>Customer zip code:</strong>
  <%= @customer.customer_zip_code %>
</p>

<p>
  <strong>State:</strong>
  <%= @customer.state %>
</p>

<p>
  <strong>Customer phone:</strong>
  <%= @customer.customer_phone %>
</p>

<p>
  <strong>Customer email:</strong>
  <%= @customer.customer_email %>
</p>

<p>
  <strong>Customer status:</strong>
  <%= @customer.customer_status %>
</p>

<p>
  <strong>Customer date:</strong>
  <%= @customer.customer_date %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
