<!DOCTYPE html>
<html>
<head>
  <title>Sales Application</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<div id="heading">
  <%= link_to "| Home |", quotes_path %>
  <%= link_to " Inventory |", inventories_path %>
  <%= link_to " Customers |", customers_path %>
  <%= link_to " Employees |", employees_path %>




</div>
<%= yield %>

</body>
</html>
